@import url("https://fonts.googleapis.com/css2?family=Fraunces:opsz,wght,SOFT,WONK@9..144,100..900,0..100,0..1&family=Fraunces:ital,opsz,wght,SOFT,WONK@1,9..144,100..900,0..100,0..1&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

html {
  background: url(/images/icon.png), #223;
  background-blend-mode: color-burn;
  scroll-behavior: smooth !important;
  width: 100%;
  height: 100%;
  font-family: Fraunces, serif !important;
}

nav {
  background: rgba(34, 34, 51, 0.623);
  width: -moz-max-content;
  width: max-content;
  display: block;
  padding: 0.3rem 0.5rem;
  z-index: 2;
  position: fixed;
  left: 50%;
  transform: translateX(-50%);
  bottom: 2rem;
  display: flex;
  gap: 0.4rem;
  border-radius: 3rem;
  -webkit-backdrop-filter: blur(15px);
          backdrop-filter: blur(15px);
  border: 0.1px solid #376e6f;
  box-shadow: 4px 3px 10px 4px #376e6f;
}

nav a {
  background: transparent;
  padding: 0.9rem;
  border-radius: 50%;
  display: flex;
  color: #FB8B24;
  font-size: 1.1rem;
}

nav a:hover {
  background: #2e151b;
  color: whitesmoke;
}

nav a.active {
  background: #FB8B24;
  color: #fff;
}

.hello {
  color: #fff !important;
  border-radius: 50px !important;
  font-size: 14px !important;
  font-weight: bolder !important;
  display: contents !important;
  background-color: #2e151b !important;
  text-shadow: 2px 2px 3px rgb(0, 0, 0);
}

.Header {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  justify-content: center;
  padding: 0 1rem;
  width: 100%;
  height: 100vh;
}

.box {
  padding: 10px;
  --border-size: 3px;
  --border-angle: 0turn;
  width: 25rem;
  height: 25rem;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - var(--border-size) * 2) calc(100% - var(--border-size) * 2), cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.box:hover {
  animation-play-state: paused;
}

@property --border-angle {
  syntax: "<angle>";
  inherits: true;
  initial-value: 0turn;
}
.btnbox {
  padding: 10px;
  --border-size: 3px;
  --border-angle: 0turn;
  width: 8rem;
  height: 3rem;
  background-image: conic-gradient(from var(--border-angle), #213, #112 50%, #213), conic-gradient(from var(--border-angle), transparent 20%, #08f, #f03);
  background-size: calc(100% - var(--border-size) * 2) calc(100% - var(--border-size) * 2), cover;
  background-position: center center;
  background-repeat: no-repeat;
  animation: bg-spin 3s linear infinite;
}
@keyframes bg-spin {
  to {
    --border-angle: 1turn;
  }
}
.btnbox:hover {
  animation-play-state: paused;
}

@media screen and (max-width: 350px) {
  nav a {
    background: transparent;
    padding: 0.4rem;
    border-radius: 50%;
    display: flex;
    color: #FB8B24;
    font-size: 1.3rem;
  }
}
@media screen and (max-width: 300px) {
  nav a {
    background: transparent;
    padding: 0.4rem;
    border-radius: 50%;
    display: flex;
    color: #FB8B24;
    font-size: 1.1rem;
  }
}