.contact_box {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 8rem 5rem 10rem 5rem;
  height: 30rem;
}
.cube_front,
.cube_back,
.cube_bottom,
.cube_left,
.cube_right,
.cube_top {
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;
}
.cube {
  margin: 0 auto;
  position: relative;
  height: 250px;
  width: 250px;
  transform-style: preserve-3d;
}

.cube div {
  position: absolute;
  padding: 40px;
  box-sizing: border-box;
  height: 100%;
  width: 100%;
  opacity: 0.9;
  border: solid 1px #eee;
  color: #fff;
  font-size: 10px;
  border-radius: 50%;
  transition: transform 0.2s ease-in;
}

.cube_front {
  transform: translateZ(150px);
}

.cube_back {
  transform: translateZ(-100px) rotateY(180deg);
  background-color: purple;
}

.cube_right {
  transform: rotateY(-270deg) translateX(100px);
  transform-origin: top right;
  background-color: aqua;
}

.cube_left {
  transform: rotateY(270deg) translateX(-100px);
  transform-origin: center left;
  background-color: bisque;
}

.cube_top {
  transform: rotateX(-270deg) translateY(-100px);
  transform-origin: top center;
  background-color: crimson;
}

.cube_bottom {
  transform: rotateX(270deg) translateY(100px);
  transform-origin: bottom center;
  background-color: rgb(4, 0, 255);
}

@keyframes rotate {
  from {
    transform: rotateX(0deg) rotateY(0deg);
  }

  to {
    transform: rotateX(360deg) rotateY(360deg);
  }
}

.cube {
  animation: rotate 20s infinite linear;
}

.wrap:hover .cube_front {
  transform: translateZ(200px);
}

.wrap:hover .cube_back {
  transform: translateZ(-200px) rotateY(180deg);
}

.wrap:hover .cube_right {
  transform: rotateY(-270deg) translateZ(100px) translateX(100px);
}

.wrap:hover .cube_left {
  transform: rotateY(270deg) translateZ(100px) translateX(-100px);
}

.wrap:hover .cube_top {
  transform: rotateX(-270deg) translateZ(100px) translateY(-100px);
}

.wrap:hover .cube_bottom {
  transform: rotateX(270deg) translateZ(100px) translateY(100px);
}
@media screen and (max-width:450px) {
  .cube {
    margin: 0 auto;
    position: relative;
    height: 200px;
    width: 200px;
    transform-style: preserve-3d;
    margin-bottom: 350px;
  }
  .cube_front {
    transform: translateZ(100px);
  }
}
@media screen and (max-width:320px) {
  .cube {
    position: relative;
    height: 180px;
    width: 180px;
    transform-style: preserve-3d;
    margin-bottom: 420px;
  }
  .cube_front {
    transform: translateZ(80px);
  }
}