$pry: #355cc9;
$pry: #da7b93;
$sec: #2e151b;
$tet: #376e6f;
$background: #223;
$sub-back: #1c3334;
$white: #fff;
$black: #000;
.project{
  margin-top:-4rem ;
  padding: 0 25px;
  display:flex ;
  flex-wrap: nowrap;
  flex-direction: column;
  justify-content: center;
 
}
.flex-wrapper {
  display:flex;
  align-items: center;
  justify-content: center;
  flex-flow: wrap;
  gap: 3rem;

}
.wrapper {
  display: flex;
  align-items: center;
  justify-content: center;
 
 
}
.card {
  width: 25rem;
  height: 25rem ;
  margin: 0 auto;
 
  perspective: 100%;
  .content {
    position: relative;
    width: 100%;
    height: 100%;
    transform-style: preserve-3d;
    transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
  }
}
.more {
  display: none;

  &:checked ~ .content {
    transform: rotateY(180deg);
  }
}

.front,
.back {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  transform-style: preserve-3d;
  border-radius: 25px;

  .inner {
    height: 100%;
    display: grid;
    padding: 1.5em;
    transform: translateZ(80px) scale(0.94);
  }
}
.f1{
  background-image: url(/images/project4.gif);
}
.f2{
  background-image: url(/images/project5.gif);
}
.f3{
  background-image: url(/images/project3.gif);
}

.f4{
  background-image: url(/images/project1.gif);
}
.f5{
  background: url(/images/project2.gif);
}

.f6{
  background-image: url(/images/project6.gif);
}
.front {
  display: flex;
  align-items: center;
  justify-content: center;
  background-size: cover;
  background-position: center;
  border: 1px solid transparent;
  box-shadow: 1px 1px 10px 10px $tet;
  &:after {
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: block;
    border-radius: 26px;
    backface-visibility: hidden;
    background: linear-gradient(
      40deg,
      rgba(255, 255, 255, 0.11),
      rgba(225, 0, 255, 0.137)
    );
  }
  .inner {
    grid-template-rows: 5fr 1fr 1fr 2fr 1fr;
    justify-items: center;
  }

}

.back {
  transform: rotateY(180deg);
  background-color: $background;
  border: 2px solid transparent;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 1px 1px 10px 10px $tet;

  .inner {
    grid-template-rows: 1fr 2fr 1fr 2fr 14fr 1fr 1fr;
    grid-template-columns: repeat(4, auto);
    grid-column-gap: 0.8em;
    justify-items: center;
  }
  .description {
    grid-row: 5;
    grid-column: 1/-1;
    font-size: 0.86em;
    border-radius: 5px;
    font-weight: 600;
    line-height: 1.4em;
    overflow: auto;
    color:$white;
    padding-right: 5px;
  }

  .button {
    grid-column: 1/-1;
    justify-self: center;
  }
}

.button {
  grid-row: -1;
  text-transform: uppercase;
  letter-spacing: 1px;
  font-weight: 600;
  cursor: pointer;
  display: block;
  padding: 0 1.5em;
  height: 3em;
  line-height: 2.9em;
  min-width: 3em;
  background-color: transparent;
  color: $white;
  border-radius: 4px;
  text-align: center;
  left: 50%;
  backface-visibility: hidden;
  transition: 0.3s ease-in-out;
  text-shadow: 0 0 6px rgba(0, 0, 0, 0.3);
  &:checked ~ .content {
    transform: rotateY(180deg);
  }

  &:hover {
    background-color: $white;
    box-shadow: 0 0 50px rgba(0, 0, 0, 0.5);
    text-shadow: none;
    color: $pry;
  }

  &.return {
    color: $pry;
    padding: 0.5rem;
    border-color: $tet;
    text-shadow: none;
    &:hover {
      background-color: $black;
      color: $white;
      box-shadow: none;
    }
  }
}

::-webkit-scrollbar {
  display: none;
}
@media screen and (max-width:880px){
    .card {
        width: 20rem;
        height: 22rem;
        margin: 10px;
        perspective: 100%;
        .content {
          position: relative;
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
        }
      }
}
@media screen and (max-width:700px){
    .card {
        width: 20rem;
        height: 20rem;
        margin: 10px;
        perspective: 100%;
        .content {
          position: relative;
          width: 100%;
          height: 100%;
          transform-style: preserve-3d;
          transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
        }
      }
}
@media screen and (max-width:570px){
  .card {
      width: 22rem;
      height: 20rem;
      margin:8px;
      padding: 10px;
      perspective: 100%;
      .content {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
      }
    }
}
@media screen and (max-width:420px){
  .card {
      width: 20rem;
      height: 20rem;
      margin: px;
      padding: 10px;
      perspective: 100%;
      .content {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
      }
    }
}
@media screen and (max-width:350px){
  .card {
      width: 18rem;
      height: 18rem;
      margin: 10px;
      padding: 20px;
      perspective: 100%;
      .content {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
      }
    }
}
@media screen and (max-width:300px){
  .card {
      width: 15rem;
      height: 18rem;
      margin: 0 auto;
      perspective: 100%;
      .content {
        position: relative;
        width: 100%;
        height: 100%;
        transform-style: preserve-3d;
        transition: transform 0.8s cubic-bezier(0.75, 0, 0.85, 1);
      }
    }
}